<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#000000" />

  <title>it's Tech!</title>

  <link rel="icon" href="/assets/favicon.ico" />
  <link rel="apple-touch-icon" href="/assets/logo192.png" />
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/"><img src=/assets/logo192.png height="100px"/></a>
      </h1>
      <nav>
        {% if loggedIn == True %}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {% else %}
        <a href="/login">login</a>
        {% endif %}
      </nav>
    </header>
    <main>
      {% block body %}{% endblock %}
    </main>
    <footer>
      created by: &nbsp <a href="https://get.watsonised.com" target=_blank > Mark Watson </a>
    </footer>
  </div>
  
  {% if loggedIn %}
  <script src="/javascript/logout.js"></script>
  {% endif %}
</body>

</html>